<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- データベース設定 -->
  <connectionStrings>
    <clear />
    <add name="DB" connectionString="User Id=devplan;Password=ora-app001;Data Source=WebAPIDataSource" providerName="Oracle.ManagedDataAccess.Client"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="WebAPIDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=gkhdb001)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=testdb))) "
        xdt:Transform="Replace"/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>

  <!-- デバック属性の削除 -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>