<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- データベース設定 -->
  <connectionStrings>
    <add name="DB" connectionString="User Id=devplan;Password=devplan;Data Source=WebAPIDataSource" providerName="Oracle.ManagedDataAccess.Client"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <!--<dataSource alias="WebAPIDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.101.199)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DEVPLANTEST))) "-->
        <dataSource alias="WebAPIDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.123.40)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DEVPLANTEST))) "
        xdt:Transform="Replace"/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>

  <!-- デバック属性の削除 -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>