<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--WebApiのURL-->
    <add key="WebApiBaseUrl" value="http://192.168.140.13:8084/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--WebApiのパス-->
    <add key="WebApiBasePath" value="v2/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- ヘルプサイト -->
    <add key="HELP_SITE" value="http://gj1tdstest.gkh.auto3.subaru.net/devplan/support/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- 駐車場PDFのURL -->
    <add key="gunmaPdfFileUrl" value="http://gj1tdstest.gkh.auto3.subaru.net/devplan/parking_map/g/所在地%20地図(群馬).pdf" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="skcPdfFileUrl" value="http://gj1tdstest.gkh.auto3.subaru.net/devplan/parking_map/skc/所在地%20地図(SKC).pdf" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- ActiveDirectory アクセスパス -->
    <add key="ActiveDirectoryLDAPpath" value="LDAP://192.168.140.13/DC=sysexe-devplan,DC=test"/>
    <!-- 旧版のアクセスパス -->
    <add key="oldDevPlanPath" value="http://gj1tds.gkh.auto3.subaru.net/DevPlan3/DevPlan3Starter.application" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>